@use 'utils';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@layer typography-base {
  :root {
    --font-size-s: #{utils.pxToRem(11px)};
    --font-size-m: #{utils.pxToRem(15px)};
    --font-size-l: #{utils.pxToRem(22px)};
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
}

@mixin font-stack() {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-main {
  @include font-stack();
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  letter-spacing: utils.pxToRem(0.19px);
  margin-bottom: 1em;

  color: var(--grey);

  &--last {
    margin-bottom: 0;
  }

  &--s {
    font-size: var(--font-size-s);
  }
}

.text-title {
  @include font-stack();
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0; // do not allow this text style to be justified
  margin-bottom: utils.pxToRem(16px);

  color: var(--dark-navy);
}
