@use 'utils';

@layer typography-base {
  :root {
    --font-size-m: #{utils.pxToRem(15px)};
    --font-weight-regular: 400;
    --font-size-xl: #{utils.pxToRem(22px)};
    --font-weight-bold: 700;
  }
}

@mixin font-stack() {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-main {
  @include font-stack();
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  letter-spacing: utils.pxToRem(0.19px);
  line-height: 1.1;
  margin-bottom: 1em;

  color: var(--grey);

  &--last {
    margin-bottom: 0;
  }
}

.text-title {
  @include font-stack();
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0; // do not allow this text style to be justified
  line-height: 1;
  margin-bottom: utils.pxToRem(16px);

  color: var(--dark-navy);
}
